*{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	display: block;
}
body{
	overflow-x: hidden;
}
.xiangqing{
	width: 100%;
	height: .96rem;
	border-bottom: .01rem solid #FFCB3F;
	display: flex;
	justify-content: space-between;
}
.xiangqing_left{
	width: 50%;
	height: .96rem;
	font-size: .24rem;
	color: #ffcb3f;
	text-align: center;
	line-height: .96rem;
	position: relative;
}
.xiangqing_left:after{
	content: "";
	display: block;
	width: .46rem;
	height: .02rem;
	background: #FFCB3F;
	position: absolute;
	top: .8rem;
	left: 1.55rem;
}
.xiangqing_right{
	width: 50%;
	height: .96rem;
	font-size: .24rem;
	color: #8d8d8d;
	text-align: center;
	line-height: .96rem;
}


.datu{
	width: 100%;
	height: 5rem;
	background: #ccc;
	margin-bottom: .62rem;
}
.datu img{
	width: 100%;
	height: 100%;
}
.guige{
	height: auto;
	width: 7.05rem;
	margin: 0 auto;
}
.guige h1{
	font-size: .3rem;
	color: #000000;
	height: .5rem;
	width: 6.68rem;
	margin: 0 auto;
	border-bottom: .01rem #d7d7d7 solid;
	position: relative;
}
.guige h1:after{
	content: "";
	display: block;
	width: .46rem;
	height: .02rem;
	background: #FFCB3F;
	position: absolute;
	top: .5rem;
	left: 0rem;
}
.guige_neirong{
	font-size: .24rem;
	color: #000000;
	height: 2.66rem;
	width: 6.68rem;
	margin: 0 auto;
	border-bottom: .01rem #d7d7d7 solid;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.guige_neirong:after{
	content: "";
	display: block;
	width: .46rem;
	height: .02rem;
	background: #FFCB3F;
	position: absolute;
	top: 2.65rem;
	left: 0rem;
}
.guige_neirong li{
	width: auto;
	height: .42rem;
	position: relative;

}
.guige_neirong li label{
	width: .8rem;
	height: .38rem;
	display: inline-block;
	line-height: .38rem;
}
.guige_neirong li span{
	width: auto;
	height: .38rem;
	position: relative;
}
.guige_neirong li div{
	margin-right: .52rem;
}
#yanse{
	position: relative;
	top: -.1rem;
}
.yanse1{
	width: .37rem;
	height: .37rem;
	display: inline-block;
	background: url(../img/yuanquan_03.jpg) no-repeat;
	background-size: 100%;
}
.yanse2{
	width: .37rem;
	height: .37rem;
	display: inline-block;
	background: url(../img/yuanquan_06.jpg) no-repeat;
	background-size: 100%;
}
.yanse3{
	width: .37rem;
	height: .37rem;
	display: inline-block;
	background: url(../img/yuanquan_08.jpg) no-repeat;
	background-size: 100%;
}
.yanse4{
	width: .37rem;
	height: .37rem;
	display: inline-block;
	background: url(../img/yuanquan_10.jpg) no-repeat;
	background-size: 100%;
}



.shuliang{
	/* background: #000000; */
	height: 1.88rem;
	width: 7.05rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.shuliang_z{
	width: 3rem;
	height: 2.1rem;
	border-bottom: .01rem #d7d7d7 solid;
	position: relative;
	box-sizing: border-box;
}
.shuliang_z:after{
	content: "";
	display: block;
	width: .46rem;
	height: .02rem;
	background: #FFCB3F;
	position: absolute;
	top: 2.08rem;
	left: 0rem;
}
.shuliang_z h1{
	font-size: .16rem;
	padding-top: .33rem;
	/* padding-left: .2rem; */
}
.shuliang_z h1 b{
	font-size: .3rem;
}
.shuliang_z p{
	font-size: .24rem;
	padding-top: .6rem;
	/* padding-left: .2rem; */
}
.shuliang_y{
	width: 3rem;
	height: 2.1rem;
	position: relative;
}
.shuliang_y_tianjia{
	width: 1.6rem;
	height: .42rem;
	position: absolute;
	line-height: .42rem;
	font-size: .24rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: space-between;
}

.shuliang_y_tianjia_jian{
	width: .4rem;
	height: .4rem;
	border-radius: 20%;
	line-height: 0.4rem;
	border: .02rem solid #d7d7d7;
	text-align: center;
}



.tuijian{
	width: 100%;
	height: 5.8rem;
	margin: .6rem auto 0;
	overflow: auto;
}
.tuijian::-webkit-scrollbar {/*滚动条整体样式*/
	     /*高宽分别对应横竖滚动条的尺寸*/
	height: 0px;
	scrollbar-arrow-color:red;
}
.tuijian h3{
	font-size: .3rem;
	color: #000000;
	margin-left: .35rem;
	position: relative;
	margin-bottom: .36rem;
}

.tuijian_shangpin1{
	height: auto;
	width: 200%;
	float: left;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.tuijian_shangpin{
	width: 3.24rem;
	height: 4.86rem;
	position: relative;
	margin-bottom: .46rem;
	margin-right: .2rem;
}
/* .tuijian_shangpin:after{
	content: "";
	display: block;
	clear: both;
} */
.tuijian_shangpin_img{
	width: 3.1rem;
	height: 2.9rem;
}
.tuijian_shangpin_img img{
	width: 100%;
	height: 100%;
}
/* .tuijian_shangpin img{
	width: 3.24rem;
	height: 4.86rem;
} */
.xiaozi{
	font-size: .18rem;
	display: block;
	position: absolute;
	bottom: 1.3rem;
	left: .24rem;
}
.xiaozi:after{
	content: "";
	position: absolute;
	display: block;
	left: 0rem;
	top: -.08rem;
	background: #000000;
	width: .32rem;
	height: .01rem;
}
.dazi{
	font-size: .24rem;
	display: block;
	position: absolute;
	bottom: 1rem;
	left: .24rem;
}
.goumai{
	height: .44rem;
	width: 3.24rem;
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0rem;
	left: 0rem;
}
.goumai span{
	font-size: .18rem;
	height: .44rem;
	line-height: .44rem;
}
.goumai span b{
	font-size: .24rem;
}
.anniu{
	width: 1.52rem;
	height: .44rem;
	background: #ffcb3f;
	border-radius: .14rem;
	font-size: .22rem;
	text-align: center;
	line-height: .44rem;
}


.biaoti{
	width: 2.4rem;
	height: 1.1rem;
	margin: .9rem auto .6rem;
}
.biaoti img{
	width: 100%;
	height: 100%;
}
.shanpinxiangqing{
	width: 100%;
	height: auto;
}
.shanpinxiangqing_img{
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}
.shanpinxiangqing_img img{
	width: 100%;
}

.fuwubaozhang{
	width: 6.67rem;
	height: 2rem;
	margin: 0 auto 1.2rem;
}
.fuwubaozhang img{
	width: 100%;
}
.fuwubaozhang_wz{
	margin-top: .4rem;
	display: flex;
	justify-content: space-between;
	font-size: .24rem;
}


.dixia{
	width: 100%;
	height: 0.98rem;
	background: red;
	position: fixed;
	bottom: 0;
	border: 0.01rem #d7d7d7 solid;
}
.dixia_z{
	width: 1.26rem;
	height: 0.98rem;
}
.dixia_zhong{
	width: 1.26rem;
	height: 0.98rem;
}
.dixia_y{
	width: 3.1rem;
	height: 0.98rem;
	background: #ffcb3f;
	text-align: center;
	line-height: 0.98rem;
	color: #FFFFFF;
	font-size: 0.28rem;
}

