*{
	padding: 0;
	margin: 0;
	list-style: none;	
}
a{
	text-decoration:none; 
	out-line: none;
	color: #202020;
}
body{
	background-color: #fcfcfc;
	height: 110%;
	padding-bottom: 1rem;
	padding-top: .87rem;
}
/*导航栏公共样式*/
.nav{
	position: fixed;
	top: 0;
	left: 0;
	background: #fcfcfc;
	width: 100%;
	height: .87rem;
	z-index: 1;
	border-bottom: 1px solid #eeeeee;
}
.nav_fanhui img ,.logo img ,.more img{
	display: block;
	width: 100%;
	height: 100%;
}
.nav_fanhui{
	width: .28rem;
	height: .30rem;
	position: absolute;
	left: .24rem;
	top: .28rem;
}
.logo{
	width: .92rem;
	height: .30rem;
	position: absolute;
	top: .28rem;
	left: 50%;
	transform: translateX(-50%);
}
.more{
	width: .37rem;
	height: .08rem;
	position: absolute;
	top: .40rem;
	right: .24rem;
	transform: translateX(-50%);
}
/*页面标题eg:我的订单*/
.my_dingdan{
	height: .78rem;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #EEEEEE;
}
.dd_tit{
	font-size: .28rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top:.18rem;
}
.my_dingdan img{
	position: absolute;
	display: block;
	width: .14rem;
	height: .25rem;
	top:.27rem;
	left: .24rem;
}

/*全部/待付款/代发货..*/
.con_tit{
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	font-size: .24rem;
	height: .76rem;
	width: 100%;
	border-bottom: 1px solid #ffcb3f;
	align-items: center;
}
/*付款模块*/
.fukuan_fa{
	height: auto;
	width: 100%;
}
.fukuan_fa li{
	width: 7.02rem;
	height: 2.62rem;
	background-color: #ffffff;
	margin: .24rem auto 0 auto;
	box-shadow: 0px 1px 2px 0px #e8e8e8;
	overflow: hidden;
}
.fk_img{

	width: 1.86rem;
	height: 1.3rem;
	margin-top: .52rem;
	margin-left: .2rem;
	float: left;	
}
.fk_img img{
	display: block;
	width: 100%;
	height: 100%;
}
.fukuan_right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	float: right;
	margin-top: .66rem;
	margin-right: .35rem;
	width: auto;
	height: 1.25rem;
	font-size: .24rem;
	overflow: hidden;
}
.fukuan_right p span{
	font-size: .14rem;
}
.fukuan_left{
	color: #9d9d9d;
	float: left;
	margin-left: .16rem;
	margin-top: .7rem;
	width: auto;
	height: 1.1rem;
	overflow: auto;
	font-size: .14rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.fk_btn{
	float: right;
	margin-top: .24rem;
}
.fk_btn div{
	overflow: hidden;
	float: left;
	font-size: .24rem;
}
.fk_btn1{
	color: #999999;
	margin-right: .28rem;
	margin-top: .02rem;
}
.fk_btn2{
	color: #ffe6b0;
	padding: .05rem .17rem;
	box-sizing: border-box;
	border: 1px solid #ffe6b0;
	margin-right: -.97rem;
}
/*商品推荐title（小标题）*/
.shop_tit{
	font-size: .3rem;
	margin-top: .6rem;
	margin-bottom: .38rem;
	margin-left: .43rem;
	font-weight: 600;
	position: relative;
}
.shop_tit:after{
	content: "";
	position: absolute;
	display: block;
	width: .05rem;
	height: .22rem;
	background: #ffcb3f;
	top: .1rem;
	left: -.14rem;
}

/*商品列表*/
.shop_list{
	margin-left: .36rem;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-around;*/
	/*align-content: flex-start;*/
}
.shop_list li{
	width: 3.24rem;
	height: 5.08rem;
	margin-right: .26rem;
	background: #FFF;
	margin-bottom: .28rem;
}
.shop_list .shop_img{
	height: 3.05rem;
	width: 100%;
}
.shop_list .shop_img img{
	width: 100%;
	height: 100%;
}
.shop_list li .shop_l_tit{
	margin-top: .4rem;
	margin-left: .22rem;
	position: relative;
}
.shop_l_tit:after{
	content: "";
	display: block;
	width: .3rem;
	height: .01rem;
	background: #000;
	position: absolute;
	top: -.05rem;
	left: .02rem;
}
.shop_list li .shop_l_tit :nth-child(1){
	font-size: .14rem;
}
.shop_list li .shop_l_tit :nth-child(2){
	font-size: .24rem;
	font-weight: 600;
}
.shop_list li .shop_l_tit2{
	width: 100%;
	height: .48rem;
	margin-top: -.50rem;
}
.shop_list li .shop_l_tit2 p{
	font-size: .22rem;
	font-weight: bold;
	display: inline-block;
	margin-left: .22rem;
}
.shop_list li .shop_l_tit2 input{
	display: inline-block;
	width: 1.52rem;
	height: .42rem;
	font-size: .20rem;
	padding-left: .26rem;
	color: #fff;
    outline:none;  
    border:none;
    border-radius: 4px;
    background:url(../img/djgm.png) no-repeat .20rem .16rem/.15rem .15rem #ffcb3f;
}
/*底部导航按钮*/
.bot_fa{
	width: 100%;
	height: .99rem;
	background: #fafafa;
	border-top: 1px solid #bfbfbf;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	font-size: .18rem;
	padding-top: .12rem;
    box-sizing: border-box;

}
.bot_fa li{
	width: auto;
	height: .74rem;
}
.bot_fa li img{
	display: block;
	margin: 0 auto;
	width: .35rem;
	height: .35rem;
}
